<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leiper</title>

    <script>
        console.log(document.getElementById('main_div'))
        console.log(document.getElementById('console'))
    </script>

</head>
<body>
    {% extends "template.html" %}
    {% block content %}

    <h2>Leiper</h2>

    <div id = "main_div" style="width: 50%; height: 800px; margin: 0 auto;">
        <div class="MetaInfo">
            <pre>{{ context.current_loc }}     Moves: {{ context.moves }}     Score: {{ context.score }}</pre>
        </div>
        <div class="Console" id="console">
            <div>LEIPER<br>
                Welcome to LEIPER. <br />
                Release 13 / Serial number 040826 / Inform v6.14 <br />
                Library 6/7 <br />
            </div>
            <br>
            <span>
                {% for item in context.history %}
                    {% if item.node_type == 'des' %}
                        <span class="HistoryNode">{{ item.message }}</span><br>
                    {% elif item.node_type == 'input' %}
                        <span class="HistoryNode">> {{ item.message }}</span><br>
                    {% else %}
                        <span class="HistoryNode"><strong>{{ item.message }}</strong></span><br>
                    {% endif %}
                {% endfor %}
                <form method="post" style="font-family: Courier;" onsubmit="document.getElementById('main_div').scrollTop = document.getElementById('console').offsetTop;">
                    > <input class="ConsoleLine" type="text" name="input" autocomplete="off">
                </form>
            </span>
        </div>
    </div>

    {% endblock %}
</body>
</html>